<html>
<body background={{ asset('FO_assets/img/cupid.jpg') }}>

<form class="form-horizontal form-label-left" method="post" action="">
    <table>
        <tr>
            <td> Username :</td>
            <td><input class="form-control col-md-7 col-xs-12" type="text" name="username"/></td>
        </tr>



        <tr>
            <td> Password :</td>
            <td><input class="form-control col-md-7 col-xs-12" type="password" name="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input  class="btn btn-success"  type="submit"  value="Se connecter"></td>

        </tr>
    </table>
</form>
</body>
</html>