<br> <br>
<br> <br>
<br> <br>
<br> <br>
<br> <br>
<html>
<link rel="icon" href="https://livedemo00.template-help.com/wt_58784/images/favicon.ico" type="image/x-icon">
<title>MySoulMate</title>
<body background={{ asset('FO_assets/img/cupid.jpg') }}>

<form class="form-horizontal form-label-left" method="post" action="{{ path('_homepage')}}">
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td style="color: #ffffff;" face="georgia"><i> Username : </i></td>
            <td><input class="form-control col-md-7 col-xs-12" type="text" name="username"/></td>
        </tr>



        <tr>
            <td style="color: #ffffff;" face="georgia" > <i> Password : </i></td>
            <td><input class="form-control col-md-7 col-xs-12" type="password" name="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input  style="font-size: larger; color: #ffffff; background-color: #f44168; border: 3pt  lightgrey "  class="btn btn-success"  type="submit"  value="Se connecter â¤"></td>

        </tr>
    </table>
</form>
</body>
</html>

<script>
    function takeme_here(link) {
        window.location.href = link;
    }
</script>


