{% extends "Layouts/Layout_BO.html.twig" %}
{% block content %}
<h1>Ajouter évènement</h1>
    <form method="post">
<table>
    <tr>
        <td>Date :</td>
        <td>
            <input type="date" name="date">

        </td>
    </tr>
    <tr>
        <td>Type :</td>
        <td> <select name="type">
                <option value="rendez-vous">rendez-vous</option>
                <option value="fiancaille">fiancaille</option>
                <option value="mariage">mariage</option>
                <option value="conférence">conférence</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>Heure :</td>
        <td><input type="number" min="0" max="23" name="heure">
            :
            <input type="number" min="0" max="59" name="minute">
        </td>
    </tr>
    <tr>
        <td>Durée :</td>
        <td>
            <select name="duree">
                <option value="1">1 heure</option>
                <option value="2">2 heures</option>
                <option value="3">3 heures</option>
                <option value="4">4 heures</option>
                <option value="5">5 heures</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Description :</td>
        <td>
            <textarea name="description"></textarea>
        </td>
    </tr>
    <tr>
        <td>Emplacement :</td>
        <td>
            <select name="emplecement">
         {% for plan in plans %}
             <option value="{{ plan.id }}">{{ plan.type }}</option>
         {%  endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <td>nombre d'invité :</td>
        <td><input required type="number" name="nbMaximale" min="0"></td>
    </tr>

    <tr>
        <td>Liste des utilisateurs :</td>
    </tr>
    {% for utilisateur in utilisateurs %}
    <tr>
        <td><input type="checkbox" value="{{ utilisateur.id }}" name="invites[]">{{ utilisateur.username }}</td>
    </tr>
    {% endfor %}
</table>

<input type="submit" value="Ajouter">
    </form>
{% endblock %}
