{% extends "Layouts/Layout_FO.html.twig" %}
{% block content %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <head>
        <style>
            {
                box-sizing: border-box;
            }

            input[type=text],[type=number], [type=date], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
                background-color: #FEFEE2;
            }

            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
            }


            textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #FEFEE2;
                font-size: 16px;
                resize: none;
            }
        </style>
    </head>
    <h2>Ajouter évènement</h2>
    <form method="post">
        <table align="center">
            <tr>
                <td>Date :</td>
                <td>
                    <input type="date" name="date">

                </td>
            </tr>

            <tr>
                <td>Type :</td>
                <td> <select name="type">
                        <option value="rendez-vous">rendez-vous</option>
                        <option value="fiancaille">fiancaille</option>
                        <option value="mariage">mariage</option>
                        <option value="conférence">conférence</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Heure :</td>
                <td><input type="number" min="0" max="23" name="heure">
                    :
                    <input type="number" min="0" max="59" name="minute">
                </td>
            </tr>
            <tr>
                <td>Durée :</td>
                <td>
                    <select name="duree">
                        <option value="1">1 heure</option>
                        <option value="2">2 heures</option>
                        <option value="3">3 heures</option>
                        <option value="4">4 heures</option>
                        <option value="5">5 heures</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description :</td>
                <td>
                    <textarea name="description"></textarea>
                </td>
            </tr>
            <tr>
                <td>Emplacement :</td>
                <td>
                    <select name="emplecement">
                        {% for plan in plans %}
                            <option value="{{ plan.id }}">{{ plan.type }}</option>
                        {%  endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>nombre d'invité :</td>
                <td><input required type="number" name="nbMaximale" min="0"></td>
            </tr>

            <tr>
                <td>Liste des utilisateurs :</td>
            </tr>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td><input type="checkbox" value="{{ utilisateur.id }}" name="invites[]" class="small text-primary">{{ utilisateur.username }}</td>
                </tr>
            {% endfor %}
        </table>

        <input type="submit" value="Ajouter" class="btn btn-xs btn-default">
    </form>
{% endblock %}

